*{
    font-family: Arial, Helvetica, sans-serif;
}
h1,h3{
    color: #f52936;
}
#signup
{
    background-color: #f52936;
    color: white;
}
#login
{
    background-color: white;
}
.upvote
{
    background-color: rgb(14, 85, 14);
    color: aliceblue;
}
.pg a{
    color: purple;
    background-color:yellowgreen;
}
nav ul li a{
    color:hotpink;
}
p+h3{
    text-decoration: underline;
}
.upvote+button{
    background-color: cornflowerblue;
    color:darkblue;
}
div>input{
    background-color: rgb(246, 246, 246);
}
input[type="text"]{
    color: #f52936;
}
input[type="password"]{
    color: green;
}
input[type]
{
    background-color: ghostwhite;
}
div[id="myId"]{
    color: chartreuse;
}
#myId p{
    background-color: bisque;
}
div>p{
    font-family: sans-serif;
    font-display: fallback;
    font-size: large;
    font-weight: bolder;
    font-style: italic;
}
button:hover{
    color:black;
    background-color: blueviolet;
}
button:active{
    color:green;
    background-color: red;
}
div>p:active{
    color: blue;
    text-decoration: double;
}